################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/obj/Debug/net7.0
/BlazorApp1
/src/RolsynCat/.config
/src/.idea/.idea.RoslynCat/.idea
/src/CodeManagement/appsettings.json
/src/CodeManagement/bin/Debug/net7.0
/src/CodeManagement/obj
