@page "/home1"

<div class="container">
    <div class="title-bar">
        <div class="editor-head">
            <button>Button 1</button>
            <button>Button 2</button>
            <button>Button 3</button>
            </div>
        
    </div>
    <div class="split-container">
        <div class="left-pane resizable">
            <monaco-editor></monaco-editor>
        </div>
        <div class="right-pane resizable">
            <monaco-editor></monaco-editor>
        </div>
    </div>
    <div class="bottom-nav">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>