@page

<body class="theme-dark root-status-default">
    <main>
        <MyModal />
        <button class="mobile-settings-button" aria-label="Settings" tabindex="1"></button>
        <div class="mobile-offline-notice">connection lost, reconnecting…</div>
        <div class="top-section-group top-section-group-code">
            <CodeEditor />
        </div>
        <div class="top-section-group top-section-group-results">
            <CodeResult />
        </div>
    </main>
    <footer>
        <a href="https://github.com/SIGEER2222/RoslynCat">RolsynCat in Github</a>
    </footer>
</body>
