@page "/"
@page "/index"
@page "/codeshare/{gistId}"
@using RoslynCat.Data
@inject NavigationManager NavigationManager


<div class="container">
    <div class="title-bar">
        <div class="editor-head">
            <button @onclick="Test">运行</button>
            <button @onclick="CodeSharing">分享代码</button>
            <button @onclick="ShowMyComponent">问问GPT？</button>

            @if (IsMyComponentVisible) {
                <div class="my-component-modal">
                    <div class="my-component-content">
                        <button class="close-button" @onclick="HideMyComponent">关闭</button>
                        <Chat/> 
                    </div>
                </div>
            }
            <Dropdown />
            <a class="" href="https://github.com/SIGEER2222/RoslynCat">RolsynCat in Github</a>
        </div>
    </div>
    <div class="split-container">
        <div class="left-pane resizable">
            <div id="@editorId" class="monaco"></div>
        </div>

        <div class="right-pane resizable">
            <div id="@resultId" class="monaco">
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>分享地址已复制到剪切板：@shareId</p>
        </div>
    </div>
</div>

@code {
    private static readonly string editorId = Data.Constants.csharpId;
    private static readonly string resultId = Data.Constants.resultId;
    private string code { get; set; } = Data.Constants.defultCode;
    private string share { get; set; } = "分享代码";
    private string @s { get; set; } = "开发中……";
    private string askGpt = "问问ChatGPT?";

    private string Result = "等待编译……";

    private bool IsMyComponentVisible = false;

    private void ShowMyComponent() {
        IsMyComponentVisible = true;
    }

    private void HideMyComponent() {
        IsMyComponentVisible = false;
    }
}
