@page "/"
@page "/index"
@page "/codeshare/{gistId}"
@using RoslynCat.Data
@inject NavigationManager NavigationManager

<div class="container">
    <div class="title-bar">
        <div class="editor-head">
            <button @onclick="RunCode">运行</button>
            <button @onclick="CodeSharing">分享代码</button>
            <button @onclick="ShowMyComponent">问问GPT？</button>

            <ConsoleIn @ref="consoleIn"/>

            @if (IsMyComponentVisible) {
                <div class="my-component-modal">
                    <div class="my-component-content">
                        <button class="close-button" @onclick="HideMyComponent">关闭</button>
                        <Chat />
                    </div>
                </div>
            }
            <Dropdown />
            <a class="" href="https://github.com/SIGEER2222/RoslynCat">RolsynCat in Github</a>
        </div>
    </div>

    @*编辑器主体*@
    <div class="split-container">
        <div class="left-pane resizable">
            <div id="@editorId" class="monaco"></div>
        </div>

        <div class="right-pane resizable">
            <div id="@resultId" class="monaco">
            </div>
        </div>
    </div>
    <MessageBox Message ="@shareId" Show ="@show"></MessageBox>

</div>

@code {
    private static readonly string editorId = Data.Constants.csharpId;
    private static readonly string resultId = Data.Constants.resultId;
    private string code { get; set; } = Data.Constants.defultCode;
    private string InputValue { get; set; } = "在此输入框输入内容";
    private string share { get; set; } = "分享代码";
    private ConsoleIn consoleIn;
    private string Result = "等待编译……";
    private bool show = false;

    private bool IsMyComponentVisible = false;

    private void ShowMyComponent() {
        IsMyComponentVisible = true;
    }

    private void HideMyComponent() {
        IsMyComponentVisible = false;
    }

    private void HandleValueChanged(string newValue) {
        Console.WriteLine("newValue" + newValue);
        InputValue = newValue;
    }

    private string GetConsoleValue() => consoleIn.InputValue;

}
