@page "/"
@page "/index"
@page "/codeshare/{gistId}"
@using RoslynCat.Data
@inject NavigationManager NavigationManager

<body class="theme-dark root-status-default">
    <main>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>分享地址已复制到剪切板：@shareId</p>
            </div>
        </div>
        <button class="mobile-settings-button" aria-label="Settings" tabindex="1"></button><div class="mobile-offline-notice">connection lost, reconnecting…</div>
        <div class="top-section-group top-section-group-code">

            <section class="top-section code">
                <header id="title">
                    <button @onclick="Test">运行</button>
                    <button @onclick="CodeSharing">分享代码</button>
                    <button @onclick="AskGPT">@askGpt</button>
                </header>
                <div id="@editorId" class="monaco"></div>
            </section>
        </div>
        <div class="top-section-group top-section-group-results" >
            <section class="top-section result">
                <header>

                    <h1>编译模式</h1>
                    <div class="select-wrapper option-language option online-only">
                        <select aria-label="Code Language" tabindex="1">
                            <option value="option">手动</option>
                            <option value="auto">自动</option>
                        </select>
                    </div>

                </header>
                <div id="@resultId" class="monaco"> 
                </div>
            </section>
        </div>
    </main>
    <footer>
        <a href="https://github.com/SIGEER2222/RoslynCat">RolsynCat in Github</a>
    </footer>
</body>

@code {
    private static readonly string editorId = Data.Constants.csharpId;
    private static readonly string resultId = Data.Constants.resultId;
    private string code { get; set; } = Data.Constants.defultCode;
    private string share { get; set; } = "分享代码";
    private string @s { get; set; } = "开发中……";
    private string askGpt = "问问ChatGPT?";

    private string Result = "等待编译……";

}