<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>分享地址已复制到剪切板：@ShareId</p>
    </div>
</div>

@code {
    [Parameter] public string ShareId { get; set; }
}
